<h1>cardapio works!</h1>

<input type="text" [value]="texto"><br><br>

<table border="2">
  <tr>
    <th>LANCHE</th>
    <th>TAMANHO</th>
    <th>INGREDIENTES</th>
    <th>PREÇO</th>
  </tr>
  <tr *ngFor="let card of cardapio">
      <td>{{ card.lanche }}</td>
      <td>{{ card.tamanho }}</td>
      <td>{{ card.ingredientes }}</td>
      <td>{{ card.preco }}</td>
  </tr>


<!-- <table>
  <tr>
    <th>ID</th>
    <th>LANCHE</th>
    <th>TAMANHO</th>
    <th>INGREDIENTES</th>
    <th>PREÇO</th>
  </tr>
  <tr>
    <th>ID</th>
    <th>LANCHE</th>
    <th>TAMANHO</th>
    <th>INGREDIENTES</th>
    <th>PREÇO</th>
  </tr>
</table> -->
