<p>tabela-cardapio works!</p>

<table>
  <tr>
    <th>ID</th>
    <th>LANCHE</th>
    <th>TAMANHO</th>
    <th>INGREDIENTES</th>
    <th>PREÇO</th>
  </tr>
  <tr>
    <th>ID</th>
    <th>LANCHE</th>
    <th>TAMANHO</th>
    <th>INGREDIENTES</th>
    <th>PREÇO</th>
  </tr>
</table>

<!--
    <tr>
        <th>ID</th>
        <th>LANCHE</th>
        <th>TAMANHO</th>
        <th>INGREDIENTES</th>
        <th>PREÇO</th>
    </tr>
    <tr *ngFor="let card of cardapio">
        <td>{{ card._id }}</td>
        <td>{{ card.lanche }}</td>
        <td>{{ card.tamanho }}</td>
        <td>{{ card.preco }}</td>
    </tr>
</table> -->
